// Imports
@import 'font';
@import 'variables';
@import 'reset';
@import 'cta';
@import 'footer';
@import 'mixins';
@import 'header';


// page home
#headerMain {
  display: flex;
  justify-content: space-around;

  img {
    width: 25%;
    border-radius: 50%;
  }
}

#about1,
#about2 {
  display: flex;

  p {
    max-width: 100%;
    margin: 30px;
    justify-content: center;
  }
}