.accountAction {

    margin: 25px;

    input {
        margin: 10px;
    }
}

.accountTable {
    margin-bottom: 50px;

    thead {
        th {
            font-family: $title;

            &:nth-child(1) {
                width: 50%;
            }

            &:nth-child(2) {
                width: 15%;
            }

            &:nth-child(3) {
                width: 15%;
            }

            &:nth-child(4) {
                width: 20%;

            }
        }
    }
    @media(max-width: 500px){
        tbody td{
            font-size: 0.8em;
        }
    }

    tbody td {
        padding: 5px 10px;

        &:nth-child(2) {
            text-align: right;

        }

        &:nth-child(3) {
            text-align: center;

        }
    }
}