#cart {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $font-color;
  font-size: 0.8em;

  th,
  td {
    padding: 20px;
  }

  thead {
    th {
      font-family: $title;
      



      &:nth-child(1) {
        width: 30%;
      }

      &:nth-child(2) {
        width: 15%;
      }

      &:nth-child(3) {
        width: 30%;
      }

      &:nth-child(4) {
        width: 15%;
      }

      &:nth-child(5) {
        width: 10%;
      }
    }
  }

  tbody td {
    text-align: center;
  }

  tfoot {
    th {
      text-align: right;
      font-family: $title;
    }

    td {
      text-align: center;
    }

    tr:last-child {
      text-align: right;
    }
  }
}