.cta-button {
    justify-content: center;
    padding: 10px;
    margin:20px auto;
    width:auto;
    max-width: 250px;
    background-color: $secondary-color;
    color: $font-color;
    font-family: $title;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
        background: $font-color;
        border: 1.5px solid $secondary-color;
        color: $secondary-color;
    }
}