#top {
    color: $font-color;
    margin: 20px;
}

footer {
    padding-top: 30px;
    // border-top: 1px solid white;

    #footerMenu {
        display: flex;
        align-items: center;
        padding-left: 30px;
        justify-content: space-between;

        img {
            display: inline;
            max-width: 25%;
        }

    }


    #copyright {
        margin-top: 30px;
        font-size: 0.7em;
        text-align: center;

        #careful {
            color: rgb(226, 193, 45);
        }
    }
}