// NAVBAR
.logo img {
      width: 100%;
    }
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: calc(0.5rem + 1vw);
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
  font-family: $title;
}
#icons {
  cursor: pointer;
  display: none;
  margin-right: 40px;
  font-size: 1.8em;
}

@media (max-width: 650px) {
  #icons {
    display: block;
  }

  #icons:before {
    content: "\2630";
  }

  .active #icons:before {
    content: "\2715";
  }

  nav ul {
    position: fixed;
    right: -100%;
    top: 5%;
    flex-direction: column;
    width: 100%;
    text-align: left;
    padding-left: 300px;
    transition: 0.50s;
    -webkit-transition: 0.50s;
    -moz-transition: 0.50s;
    -ms-transition: 0.50s;
    -o-transition: 0.50s;
}
  nav li {
    padding: 5px 0;
    font-family: $text;
    
  }
  
  nav.active ul {
    right: 0;
    margin-bottom: 5px;
  }
}