@import 'mixins';

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    /* Pour éviter scroll horizontal */
    font-family: $text;
    color: $font-color;
    background-color: $main-color;
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-family: $title;
}

h2 {
    @include secondary-title;
}

ul {
    list-style: none;
}

a,
.fa a {
    text-decoration: none;
    color: white;

    &:hover {
        color: grey;
    }
}
