@import 'mixins';

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    font-family: $text;
    color: $font-color;
    background-color: $main-color;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.msg {
    color: orange;
    text-align: center;
    padding-bottom: 10px;
  }

h1 {
    font-family: $title;
}

h2 {
    @include secondary-title;
}

ul {
    list-style: none;
}

a,
.fa a {
    text-decoration: none;
    color: white;

    &:hover {
        color: grey;
    }
}

hr {
    color: $font-color;
    margin: 30px;
}

.center {
    text-align: center;
}

.top{
    margin-top: 40px;
}